<form [formGroup]="updateForm" novalidate (ngSubmit)="otp()" style="padding: 40px;">
    <mat-card class="otp-card">
      <mat-card-header class="custom-mat">
        <mat-card-title>Authenticate ECC</mat-card-title>
        <mat-card-subtitle>{{aspName}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-sm-image src="./assets/em1.png" alt="eml">
      <img mat-card-sm-image src="./assets/em2.png" alt="eml" align="right">
      <mat-card-content>
      <p>Transaction Ref No <strong>{{txn}}</strong></p>
      <p align="justify">{{lt}}</p>

      <mat-form-field class="full-width">
        <input matInput #firstName minlength="2" placeholder="Aadhaar" type="number" formControlName="adr" required>
        <mat-error *ngIf="updateForm.controls['adr'].hasError('required')">
          Aadhaar<strong> required</strong>
        </mat-error>
      </mat-form-field>

      </mat-card-content>

     
      <mat-divider></mat-divider>
      
      <mat-card-actions style="text-align: left;">
           
        <button mat-raised-button color="primary" type="submit" [disabled]="updateForm.invalid || isLoading">OTP</button>
        <button mat-raised-button color="primary" type="button" (click)="cancel()" [disabled]="isLoading">Cancel</button>
        <a *ngIf="resend" mat-stroked-button color="info" href="/otp/resend" [disabled]="isLoading">Resend OTP</a>
      </mat-card-actions>
      <mat-card-content>
      <div *ngIf="sts >= 1" class="alert alert-danger" role="alert">
        {{msg}}
      </div>
      <div *ngIf="sts == 0" [ngClass]="[exceedAttemptLimit == 2  ? 'alert alert-primary' : exceedAttemptLimit == 3  ? 'alert alert-warning' : 'alert alert-success']" role="alert">
        {{msg}}.
      </div>
    </mat-card-content>
    <mat-card-footer>
        <div class="spinner-class" *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    </mat-card-footer>
    </mat-card>
  </form>
